/* здесь используйте глобальные переменные */

// Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$basic-gray: #444444;
$secondary-black: #111111;
$secondary-gray: #222222;
$accent-color: rgba(104, 183, 56, 0.85);

// Шрифты
$primary-font: "Lato", "arial", sans-serif;
$secondary-font: "Oswald", "arial", sans-serif;

