/* GLOBAL */
@import "./global/variables.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/global.scss";
@import "./global/common.scss";
@import "./global/visually-hidden.scss";


/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/button-toggle.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-container.scss";
@import "./blocks/link-button.scss";
@import "./blocks/high-header.scss";
@import "./blocks/low-header.scss";
@import "./blocks/additional-header.scss";
@import "./blocks/high-catalog-header.scss";
@import "./blocks/form-title.scss";
@import "./blocks/program-selection.scss";
@import "./blocks/form-font.scss";
@import "./blocks/catalog-product.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/intro.scss";
@import "./blocks/nutrition.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";




