.copyright__link  {
  text-decoration: none;
  background-image: url("../../images/icons/stack.svg#logo-html");
  background-size: 27px, 34px;
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
}
