.form-title {
  color: $basic-black;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
}
.form-title--mobile {
  color: $basic-black;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;
}
