.intro {

  background-image:
    image-set(url("../../images/index-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/index-background-mobile@1x.jpg") type("image/jpg") 1x,
      url("../../images/index-background-mobile@2x.jpg") type("image/jpg") 2x);
  background-size: cover, 320px 302px, cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
}

.intro__text {
  color: $basic-white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
