.link-button {
  font-family: $secondary-font;
  color: $basic-white;
  background-color: $accent-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
}
