.nutrition__text {
  color: $basic-gray;
  font-size: 14px;
  line-height: 18px;
}

.nutrition__link {
  color: $basic-black;
  text-align: center;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
